*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
   }
   
   img{
       width: 25%;
       height: auto;
   }
   
   body{
       width: 100%;
       height: 100vh;
       position: relative;
   }
   section{
    width: 100%;
    height: 100%;
   }

   header{
       display: flex;
       justify-content: center;
       align-items: center;
       background: linear-gradient(to bottom, rgba(99, 208, 6, .6), transparent);
       width: 100%;
       height: 10vh;
   }
   
   
   footer{
       display: flex;
       justify-content: center;
       align-items: center;
       background: linear-gradient(to top, rgba(99, 208, 6, .6), transparent);
       width: 100%;
       height: 10vh;
       position: absolute;
       top: 90vh;
       
   }
   
   a{
       text-decoration: none;
       color: inherit;
       font-size: 1.5rem;
   }
   
   main{
       margin-top: 1vh;
       text-align: center;
   }

   

   p{
    text-align: justify;
    margin-left: 5%;
   }
   
   footer a{
       font-size: 2rem;
   }
   
   .w80{
       width: 80%;
   }
   
   form{
       width: 50%;
       margin: 5vh auto;
    }
     
     form div{
       margin-top: 1rem;
       margin-left: 10%;
     }
     
     input, select{
       width:100%;
       height: 2rem;
       padding-left: 16px;
       border-radius: 5px;
       border: 1px solid grey;
     }

     ul{
        display: flex;
        gap: 96px;
        color: blue;
     }
   
.submit3{
       margin-top: 1rem;
       margin-left: 65%;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 25%;
       height: 30px;
       border-radius: 5px;
       border: none;
       background-color: darkblue;
       color: white;
       font-size: 1.5rem;
       cursor : pointer;
       position : relative;
     }

.submit2{
        margin-top: 1rem;
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: darkblue;
        color: white;
        font-size: 1.5rem;
        cursor : pointer;
        position : relative;
      }

.red {
    color: red;
}

.green {
    color: green;
}

/* classes David */


.list-articles {
    display: flex;
  }
  
  .article {
    width: 33.33%;
    padding: 30px;
  }
  
  .article-title {
    text-align: center;
  }
  
  .article-image {
    width: 100%;
  }
  
  .article-date {
    font-style: italic;
  }
  
  .article-content {
    text-align: justify;
  }
   

   

   